.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.2rem solid #0000001f;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    width: 15rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    width: 50%;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    padding: 0.2rem;
    border: none;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.409);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #00000020;
    color: #4d1313;
    font-weight: 400;
  }
